.SearchSortBar {
  background-color: var(--bg_light);
  margin: auto;
  margin-top: 15px;
  margin-bottom: 0px;
  width: 45vw;
  border-color: var(--border_gray);
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  display: flex;
  padding: 1em 1.5em;
  gap: 1em;
  flex-direction: column;
}

#resPageSearchBox {
  display: flex;
  align-items: center;
  position: relative;
}

#searchBox_resultsPage {
  width: 100%;
  background-color: white;
  font-size: medium;
  padding: 0.5em 1em 0.5em 2em;
  border-radius: 20px;
  border: 1px solid gray;
  color: var(--text_gray);
}


#SSbarOrder {
  /* margin-top: 13px;
  margin-bottom: 13px;
  margin-left: 0.5em; */
  display: flex;
  align-items: center;
  gap: 0.3em; 
}

#lbl {
  margin-right: 8px;
  color: grey;
}

#SearchTag {
  /* margin: 0 5% 10px 5%; */
  /* margin-bottom: 10px;
  margin-left: 0.5em; */
  display: flex;
  gap: 0.5em;
  width: 100%;
  align-items: center;
}

#SearchTag #search-tag {
  border: 1px var(--border_gray) solid;
  border-radius: 5px;
  outline: none;
  width: 30vw;
  height: 1.5em;
  font-weight: 200;
}
.SearchErrMsg {
  font-size: 0.8em;
  background-color: crimson;
  width: fit-content;
  margin: auto;
  padding: 0.5em 1em;
}
