@import "../../pages/global.css";

.UpperBar {
  width: 100vw;
  height: 8vh;
  background-color: var(--bg_light);
  padding: 0 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-color: var(--border_gray);
  border-bottom-style: solid;
  position: fixed;
  z-index: 100;
}

.UpperBarTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  gap: 1em;
}
.UpperBarTitle img {
  width: 3em;
}
.siteTitle{
  font-family: "Merienda", cursive;
}

#barSearchBox {
	position: absolute;
  display: flex;
	align-items: center;
	/* Centering */
	left: 50%;       
  transform: translateX(-50%);
}

.searchIcon {
  position: absolute;
	margin-left: 0.5em;
  cursor: pointer;
}

#searchBox_bar {
	width: 40vw;
	background-color: var(--border_gray);
	font-size: medium;
	padding: 0.5em 1em 0.5em 2em;
	border-radius: 20px;
	color: var(--text_gray);
}
#searchBox_bar:focus{
	background-color: var(--bg_light);
}

.loginButton {
  /* height: 5vh; */
  /* min-width: 8em; */
  width: fit-content;
  max-width: 30em;
  overflow: hidden;
  border-radius: 40px;
  font-weight: 600;
  /* display: inline-flex; */
  align-items: center;
  justify-content: center;
}
