.ResultPage{
    padding-top: 10vh;
    background-color: var(--bg_gray);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.ResultPage > .SearchSortBar{
    margin-top: 25px;
}
.NoResultFound{
    text-align: center;
    margin-top: 1.3em;
    font-size: 40px;
    color: var(--text_gray) ;
}
/* .ResultListItem{
    margin:auto;
    margin-top: 0px;
    background-color: white;
    width: 40vw;
    margin-bottom: 20px;    
    border-color: var(--border_gray);
    border-radius: 4px;
    border-style: solid;    
    display: flex;
    flex-direction: column;
    padding: 1em 1em;

} */
.ResultListItem .Item a{
    width: 70vw;
    min-height: 14.5vh;
    height: fit-content;
    border: 2px var(--border_gray) solid;
    border-radius: 8px;
    margin: 1.5em auto;
    background-color: var(--bg_light);
    display: flex;
    justify-content: space-between;
}

.ResultRateStars{
    margin-bottom: 2em;
}

.ResultItemInfo{
    padding: 1.5em 1.2em;
    width: 70%;
    /* background: linear-gradient(90deg, var(--bg_light) 45%, transparent 100%); */
    background-color: var(--bg_light);
    border-radius: 8px;
}

#ResultItemImage{
    /* background-color: blue; */
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;     
    border-radius: 8px;
}